spring:
  main:
    allow-bean-definition-overriding: true
  # Datasource config is provided by @DynamicPropertySource in BaseIntegrationTest
  datasource:
    hikari:
      connection-test-query: SELECT 1
      validation-timeout: 5000
      connection-timeout: 60000
      maximum-pool-size: 5
      minimum-idle: 1
  liquibase:
    change-log: classpath:db/changelog/db-changelog.yaml
    enabled: true
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  # Redis config is provided by @DynamicPropertySource in BaseIntegrationTest
  # data:
  #   redis:
  #     host: localhost
  #     port: 6379

  threads:
    virtual:
      enabled: true